### Import packages

`import matplotlib.pyplot as plt`

`from IPython.display import Image`

In [2]:
import matplotlib.pyplot as plt
from IPython.display import Image
import pandas as pd
import numpy as np

### 1. open the notebook with the CO2 data
- last time we picked columns 0, 1 and 3. Choose this time columns 0, 1, 3 and 4.
- Whenever there is a missing value (-99.99) replace it with the corresponding value at column 4.

In [3]:
co2_df = pd.read_csv('ftp://aftp.cmdl.noaa.gov/products/trends/co2/co2_mm_mlo.txt', 
                     sep=r'\s+', comment='#', header=None, index_col=False,
                     names=['year', 'month', 'dec_date', 'average', 'interpolated', 'trend', 'days'])

In [4]:
co2_trim = co2_df.iloc[:,[0,1,3,4]]
co2_trim.head()

   year  month  average  interpolated
0  1958      3   315.71        315.71
1  1958      4   317.45        317.45
2  1958      5   317.50        317.50
3  1958      6   -99.99        317.10
4  1958      7   315.86        315.86

As we can see, we have some missing values that we wish to deduce from the interpolated values. This is simple enough to accomplish.

In [6]:
def impute_missing_averages(a):
    pass

SyntaxError: unexpected EOF while parsing (<ipython-input-6-5c93e03b7187>, line 1)

### 2. 
 - Create a new directory in your documents folder
 name it visualizations 
 - in it create a folder named warm-up-mod1
- list all folders in your documents folder 
`use ls`

### 3. Using matplotlib we want to create the following figure : 
![Alt Image Text](../plots/CO2_warmup.png)

- Each month is signaled by different colour 
- Add an yearly average (red) (use groupby with mean)
- Notice the starting year on the x-axis
- Notice the range on the Y-axis

### 4. Push your notebook to your github branch 

### 5. save your image into the visualizations folder we have created 

`plt.savefig`

#### [optional] Play with the scales of axis to make the difference among months more apparent