In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

%load_ext autoreload
%autoreload 2

warnings.filterwarnings('ignore')

sns.set()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [34]:
# EDA Explore
## describe, summary, dtypes
## identify tarrget: categorical
### number of categories
## class imbalance problem

# validation
## train test split

# data cleaning
## null values, duplicates

# feature engineering
## objects dummy, label encoder, binary encoder

# scaling
## numerical
### StandardScaler, MinMax, Mean

# logistic regression

# metrics
## confusion matrix
## precision, recall, accuracy, f1 score
## roc_auc curve/score

# parameter tuning
## C, alpha

In [35]:
df = pd.read_csv('titanic.csv')

In [36]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [38]:
df = df.drop(columns=['Cabin', 'PassengerId', 'Name'])

df.columns = df.columns.map(lambda s: s.lower())
df = df.drop_duplicates()

In [39]:
df.head()

,survived,pclass,sex,age,sibsp,parch,ticket,fare,embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,1,1,female,35.0,1,0,113803,53.1000,S
4,0,3,male,35.0,0,0,373450,8.0500,S

In [40]:
df = df.dropna(subset=['embarked'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 874 entries, 0 to 890
Data columns (total 9 columns):
survived    874 non-null int64
pclass      874 non-null int64
sex         874 non-null object
age         709 non-null float64
sibsp       874 non-null int64
parch       874 non-null int64
ticket      874 non-null object
fare        874 non-null float64
embarked    874 non-null object
dtypes: float64(2), int64(4), object(3)
memory usage: 68.3+ KB

In [41]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer()

df.age = imputer.fit_transform(df[['age']])

In [42]:
df.head()

,survived,pclass,sex,age,sibsp,parch,ticket,fare,embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,1,1,female,35.0,1,0,113803,53.1000,S
4,0,3,male,35.0,0,0,373450,8.0500,S

In [43]:
x = df.drop(columns=['survived'])
y = df.survived

In [44]:
x_cat = x.select_dtypes(include='object')
x_cat.head()

      sex            ticket embarked
0    male         A/5 21171        S
1  female          PC 17599        C
2  female  STON/O2. 3101282        S
3  female            113803        S
4    male            373450        S

In [45]:
x_cat_dummies = pd.get_dummies(x_cat, drop_first = True)
x_cat_dummies.head()

,sex_male,ticket_110413,ticket_110465,ticket_110564,ticket_110813,ticket_111240,ticket_111320,ticket_111361,ticket_111369,ticket_111426,...,ticket_W./C. 14258,ticket_W./C. 14263,ticket_W./C. 6607,ticket_W./C. 6608,ticket_W./C. 6609,ticket_W.E.P. 5734,ticket_W/C 14208,ticket_WE/P 5735,embarked_Q,embarked_S
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [46]:
x_num = x.select_dtypes(exclude='object')
x_prep = pd.concat([x_num, x_cat_dummies], axis=1)
x_prep.shape

(874, 687)

In [47]:
x_prep.head()

,pclass,age,sibsp,parch,fare,sex_male,ticket_110413,ticket_110465,ticket_110564,ticket_110813,...,ticket_W./C. 14258,ticket_W./C. 14263,ticket_W./C. 6607,ticket_W./C. 6608,ticket_W./C. 6609,ticket_W.E.P. 5734,ticket_W/C 14208,ticket_WE/P 5735,embarked_Q,embarked_S
0,3,22.0,1,0,7.2500,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,1,38.0,1,0,71.2833,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,26.0,0,0,7.9250,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1,35.0,1,0,53.1000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,3,35.0,0,0,8.0500,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [54]:
from sklearn.preprocessing import MinMaxScaler

mms = MinMaxScaler()

mms.fit(x_prep)
x_transformed = pd.DataFrame(mms.transform(x_prep), columns=x_prep.columns)

In [55]:
x_transformed

,pclass,age,sibsp,parch,fare,sex_male,ticket_110413,ticket_110465,ticket_110564,ticket_110813,...,ticket_W./C. 14258,ticket_W./C. 14263,ticket_W./C. 6607,ticket_W./C. 6608,ticket_W./C. 6609,ticket_W.E.P. 5734,ticket_W/C 14208,ticket_WE/P 5735,embarked_Q,embarked_S
0,1.0,0.271174,0.125,0.000000,0.014151,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.472229,0.125,0.000000,0.139136,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.321438,0.000,0.000000,0.015469,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.434531,0.125,0.000000,0.103644,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.0,0.434531,0.000,0.000000,0.015713,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,1.0,0.367774,0.000,0.000000,0.016510,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,0.0,0.673285,0.000,0.000000,0.101229,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,1.0,0.019854,0.375,0.166667,0.041136,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,1.0,0.334004,0.000,0.333333,0.021731,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
9,0.5,0.170646,0.125,0.000000,0.058694,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1.0,0.044986,0.125,0.166667,0.032596,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11,0.0,0.723549,0.000,0.000000,0.051822,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
12,1.0,0.246042,0.000,0.000000,0.015713,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,1.0,0.484795,0.125,0.833333,0.061045,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
14,1.0,0.170646,0.000,0.000000,0.015330,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
15,0.5,0.685851,0.000,0.000000,0.031230,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
16,1.0,0.019854,0.500,0.166667,0.056848,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
17,0.5,0.367774,0.000,0.000000,0.025374,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
18,1.0,0.384267,0.125,0.000000,0.035134,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
19,1.0,0.367774,0.000,0.000000,0.014102,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.5,0.434531,0.000,0.000000,0.050749,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
21,0.5,0.421965,0.000,0.000000,0.025374,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
22,1.0,0.183212,0.000,0.000000,0.015672,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
23,0.0,0.346569,0.000,0.000000,0.069291,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
24,1.0,0.095250,0.375,0.166667,0.041136,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
25,1.0,0.472229,0.125,0.833333,0.061264,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
26,1.0,0.367774,0.000,0.000000,0.014102,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.233476,0.375,0.333333,0.513342,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
28,1.0,0.367774,0.000,0.000000,0.015379,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
29,1.0,0.367774,0.000,0.000000,0.015412,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
844,1.0,0.509927,0.250,0.000000,0.027538,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
845,0.5,0.258608,0.125,0.000000,0.022447,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
846,0.0,0.597889,0.000,0.000000,0.050610,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
847,0.5,0.296306,0.000,0.000000,0.025374,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
848,0.5,0.522493,0.000,0.000000,0.025374,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
849,0.5,0.334004,0.125,0.000000,0.027050,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
850,0.0,0.384267,0.000,0.000000,0.098561,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
851,1.0,0.367774,0.000,0.000000,0.018543,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
852,1.0,0.044986,0.125,0.166667,0.021731,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
853,1.0,0.321438,0.000,0.000000,0.015412,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
854,0.0,0.585323,0.125,0.166667,0.102579,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
855,0.0,0.409399,0.000,0.000000,0.009759,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
856,1.0,0.585323,0.000,0.000000,0.017567,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
857,0.5,0.346569,0.125,0.000000,0.046845,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
858,1.0,0.183212,0.000,0.000000,0.014102,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
859,1.0,0.246042,0.000,0.000000,0.019218,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
860,1.0,0.233476,0.000,0.000000,0.015412,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
861,1.0,0.367774,0.000,0.000000,0.015412,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
862,0.0,0.698417,0.000,0.166667,0.162314,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
863,0.5,0.308872,0.000,0.166667,0.050749,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
864,1.0,0.409399,0.000,0.000000,0.015412,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
865,1.0,0.271174,0.000,0.000000,0.020527,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
866,0.5,0.346569,0.000,0.000000,0.020495,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
867,1.0,0.308872,0.000,0.000000,0.013761,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
868,1.0,0.484795,0.000,0.833333,0.056848,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
869,0.5,0.334004,0.000,0.000000,0.025374,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
870,0.0,0.233476,0.000,0.000000,0.058556,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
871,1.0,0.367774,0.125,0.333333,0.045771,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
872,0.0,0.321438,0.000,0.000000,0.058556,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
873,1.0,0.396833,0.000,0.000000,0.015127,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [56]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_transformed, y)

In [58]:
lrc = LogisticRegression(C=1.0, tol=0.0001)

In [59]:
lrc.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [61]:
y_hat_test = lrc.predict(x_test)

In [62]:
y_hat_train = lrc.predict(x_train)

In [63]:
y_test_proba = lrc.predict_proba(x_test)
y_train_proba = lrc.predict_proba(x_train)

In [65]:
lrc.score(x_test, y_test)

0.8127853881278538

In [66]:
lrc.score(x_train, y_train)

0.9099236641221374

In [68]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score

In [69]:
accuracy_score(y_test, y_hat_test)

0.8127853881278538

In [70]:
accuracy_score(y_train, y_hat_train)

0.9099236641221374

In [71]:
recall_score(y_test, y_hat_test)

0.6987951807228916

In [72]:
recall_score(y_train, y_hat_train)

0.8167330677290837

In [73]:
precision_score(y_test, y_hat_test)

0.7837837837837838

In [74]:
precision_score(y_train, y_hat_train)

0.9403669724770642

In [75]:
f1_score(y_test, y_hat_test)

0.7388535031847134

In [76]:
f1_score(y_train, y_hat_train)

0.8742004264392323

In [77]:
from sklearn.metrics import roc_auc_score

In [81]:
roc_auc_score(y_test, y_test_proba[:,1])

0.8149805102763998

In [82]:
roc_auc_score(y_train, y_train_proba[:,1])

0.9525117352372687

In [ ]:
# copy code from confusion.py
# copy code from roc_auc.py